@{
    ViewData["Title"] = "About";
}

<div class="text-center mt-4">
    <h2>Sobre o site</h2>
    <p>
        Olá, meu nome é Matheus, criador deste site. O objetivo inicial deste projeto é, principalmente, compartilhar conhecimentos que venho estudando, com o propósito de documentar e fixar os conteúdos que consumo. <br/>
        Além disso, é uma oportunidade de colocar em prática as tecnologias às quais tenho me dedicado ultimamente, especialmente porque almejo uma carreira como desenvolvedor back-end utilizando C#. 
        A ideia é criar um blog com as funcionalidades esperadas de um blog e realizar o deployment dele. Depois, pretendo continuar aprimorando-o, tanto na interface e aspectos visuais quanto em outras features. Este projeto será iniciado no começo de 2025, no mais tardar no início de fevereiro, e quero que ele funcione como uma espécie de portfólio. 
        Cada vez que eu desenvolver um projeto novo ou criar uma funcionalidade, pretendo compartilhar isso aqui no site.
        Um detalhe importante é que esta aba está toda em português-br, mas o restante do site será, a princípio, em inglês. Isso tem como objetivo treinar a escrita e a leitura nesse idioma. <br/>
        É isso! Vamos ver como estará tudo no final do ano... Além deste projeto, planejo, no máximo, realizar mais um. Diferente de 2024, este ano irei dar passos menores que minhas pernas.
    </p>
</div>
