@{
    ViewData["Title"] = "My Posts";
}

<div class="text-center mt-4">
    <h2>Posts</h2>
    <p> These are my posts. The subjects will be varieted, i'm going to write about thoughts of my own projects, specific topics, tips, 
        or sometimes open discussion of some non-related tech subject like movies, books or what i think it's interesting. <br/> Enjoy yourself!</p>
</div>